<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <h1></h1>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <p>Lugar para poner la barra de búsqueda
        </p>
        <p>Comprá en cuotas y sin tarjeta de crédito
        </p>
        <ul>
            <a href="">
                <li>Ofertas</li>
            </a>
            <a href="">
                <li>Mis compras</li>
            </a>
            <a href="">
                <li>Tiendas Oficiales</li>
            </a>
            <a href="">
                <li>Vender</li>
            </a>
            <a href="">
                <li>Ayuda</li>
            </a>
        </ul>
        <ul>
            <a href="">
                <li>Creá tu cuenta</li>
            </a>
            <a href="">
                <li>Ingresá</li>
            </a>
            <a href="">
                <li>Mis compras</li>
            </a>

        </ul>
        <main>
            <h2>Basado en tu última visita</h2>

            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h3>$6.770</h3>
            <h3>40% OFF</h3>
            <h4>Cafetera Moulinex</h4>

            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h2>$230.000</h2>
            <h3>20% off</h3>
            <h4>MacBook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h2>$70.500</h2>
            <h3>10% off</h3>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h2>$23.200</h2>
            <h3>5% off</h3>
            <h4>SmartTv Samsung 43"</h4>

            <h2>Ofertas</h2>

            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h2>$6.770</h2>
            <h3>40% off</h3>
            <h4>Cafetera Moulinex</h4>
           
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h2>$230.000</h2>
            <h3>20% off</h3>
            <h4>MacBook Pro 2019</h4>

           <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h2>$70.500</h2>
            <h3>10% off</h3>
            <h4>Samsung Galaxy S10</h4>

            <img src=" /images/img-tv-samsung-smart.jpg" alt="">
            <h2>$23.200</h2>
            <h3>5% off</h3>
            <h4>SmartTv Samsung 43"</h4>

            <footer>

            </footer>
        </main>
    </header>
</body>

</html>