<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Mercado Liebre ►Ingresar</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="header1">
      <div class="logoybarra">
        <img src="/images/logo-mercado-liebre.svg" alt="logo" />
      </div>
      <form action="">
        <input type="search" name="search" id="busqueda" placeholder="Buscar productos, marcas" />
        <button><i class="fas fa-search"></i></button>
      </form>
      <p>
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </p>
    </div>
    <nav>
      <ul class="ul1">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <ul class="ul2">
        <li>
          <a href="">Creá tu cuenta</a>
          <span><i class="far fa-id-card"></i></span>
        </li>
        <li>
          <a href="">Ingresá</a>
          <span><i class="fas fa-sign-in-alt"></i></span>
        </li>
        <li>
          <a href="">Mis compras</a>
          <span><i class="fas fa-shopping-basket"></i></span>
        </li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

    <section>
      <img class="banner" src="/images/img-home-banner.jpg" alt="banner" />
    </section>
  </header>

  <main class="login">
<section>
  <article>
    <form action="/login" method="POST">
        <input type="text" name="Nombre de Usuarío" required placeholder="Nombre de Usuarío">
        <input type="password" name="password" required placeholder="Elegí tu Contraseña">
        <input class="BOTON" value="Enviar" type="submit">
    </form>
  </article>
</section>
  </main>

  <footer>
    <section>
      <i class="fas fa-credit-card"></i>
      <h5>Pagá con tarjeta o en efectivo</h5>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section>
      <i class="fas fa-gift"></i>
      <h5>Envío gratis desde $ 2.500</h5>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <i class="fas fa-user-shield"></i>
      <h5>Seguridad, de principio a fin</h5>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>

    <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
  </footer>
</body>

</html>