<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>

    <header>

        <img src="/images/logo-mercado-liebre.svg" alt="">
        <p>Lugar para poner la barra de búsqueda
        </p>
        <p>Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav>
            <ul>
                <a href="http://localhost:3535/Ofertas">
                    <li>Ofertas</li>
                </a>
                <a href="">
                    <li>Mis compras</li>
                </a>
                <a href="">
                    <li>Tiendas Oficiales</li>
                </a>
                <a href="">
                    <li>Vender</li>
                </a>
                <a href="">
                    <li>Ayuda</li>
                </a>
            </ul>
        </nav>

        <nav>
            <ul>
                <a href="">
                    <li>Creá tu cuenta</li>
                </a>
                <a href="">
                    <li>Ingresá</li>
                </a>
                <a href="">
                    <li>Mis compras</li>
                </a>
            </ul>
        </nav>

    </header>

    <main>

        <h1>Ofertas</h1>

        <section>

            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>

        </section>

        <section>

            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>

            <section>

                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>

            </section>

            <section>

                <img src=" /images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>

            </section>
    </main>

    <footer>

        <nav>
            <ul>
                <p>
                    <li>Pagá con tarjeta o en efectivo
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</li>
                </p>
            </ul>
        </nav>

        <nav>
            <ul>
                <p>
                    <li>Envío gratis desde $ 2.500
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</li>
                </p>
            </ul>
        </nav>

        <nav>
            <ul>
                <p>
                    <li>Seguridad, de principio a fin
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</li>
                </p>
            </ul>
        </nav>

        <nav>
            <ul>
                <p>
                    <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
                </p>
            </ul>
        </nav>

    </footer>

</body>

</html>