footer section {
text-align: center;
margin: 35px 30px
}

footer section i {
    color:  var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;

}

footer span{
    margin-left: 15px;
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: white;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 10px;
}