header {
    background-color: var(--Amarillo);
}

header div.header1{
    display: flex;
    flex-wrap: wrap;

} 

header div.logoybarra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}

header div.logoybarra img{
    padding-left: 10%;
    padding-top: 10%;
}



header form input{
    width: 83%;
    font-size: 16px;
    margin-top: 11%;
    padding: 3%;
}

header div form button{
  position: absolute;
  right: 22%;
  border: none;
  top: 50%;
}

header div form button i {
    font-size: 16px;
}

header form {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    position:relative;
}

header p {
text-align: center;
margin: 15px 0px 20px 0px;
width: 100%;
font-size: 20px;
}

header nav ul li a {
color: black;
text-decoration: none;
font-size: 25px;
}

header nav ul.ul2 {
    margin-top: 10px;
}

header nav ul {
    margin-left: 15px;
}

header div.burger-menu {
    text-align: center;
}

header div.burger-menu i {
background-color: var(--Celeste);
padding: 10px;
border-radius: 5px;
color: white;
margin: 15px 0px;
}

header section img.banner {
    width: 100%;
    margin: 0;
    background-size: cover;
    display: block;
}

header nav {
    display: none;
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 361px){
header div.header1 .logoybarra{
width: 33%;

}

header div.header1 form {
    width: 33%;
    padding-top: 4%;
}

header div.header1 p{
    width: 33%;
    padding-top: 5%;
}

header div.header1 form button {
position: static;
width: 11%;
margin-left: 2%;
} 

header form input{
font-size: 12px;
padding: 0;
margin-top: 0%;
}

    header nav {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 10px;
    }

header nav ul.ul1{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

header nav ul.ul2{
display: flex;
width: 40%;
justify-content: space-evenly;
}

    header div.burger-menu i {
        display: none;
    }

    header section img.banner {
        width: 100%;
        margin: 0;
        background-size: cover;
        display: block;
    }
    
}


/* ----------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 769px){


}