 h2
  {
    font-size: 24px;
}

.descuento, h4 {
font-size: 16px;
}

.precio {
    font-size: 18px;
}

main section img {
  width: 100%;
}

main {
  background-color: var(--GrisClaro);
  width: 90%;
  margin: 0 auto;
}

main section {
  margin: 10px 0;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  top: -15px;
  color: #39b54a;
}

main section article div {
  border-top: solid 1px var(--GrisClaro);
  padding: 15px;
  background-color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

main section article div h4{
  color: var(--GrisOscuro)
}

main section article.product {
margin: 5px 0;
background-color: white;
}

main section article.product2 {
margin: 5px 0;
background-color: white;
}

main section article.product3 {
margin: 5px 0;
background-color: white;
}

main section article.product4 {
margin: 5px 0;
background-color: white;
}

main section article.productofert {
margin: 5px 0;
background-color: white;
}

main section article.productofert2 {
margin: 5px 0;
background-color: white;
}

main section article.productofert3 {
margin: 5px 0;
background-color: white;
}

main section article.productofert4 {
margin: 5px 0;
background-color: white;
}

main section p.precio {
  width: 30%;
}

main section p.descuento {
  color: var(--Verde);
  width: 70%;
  }  

main section h4 {
  display: none;
  }

@media (min-width: 361px){
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
  }

main section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

  main section h4 {
  display: block;
  }
}

@media (min-width: 769px){
  main section article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
  }

main section {
  position: relative;
  display: flex;
}

}