 h2
  {
    font-size: 24px;
}

.descuento, h4 {
font-size: 16px;
}

.precio {
    font-size: 18px;
}

main section img {
  width: 100%;
}

main {
  background-color: var(--GrisClaro);
  width: 90%;
  margin: 0 auto;
}

main section {
  margin: 10px 0;
}

main section article i {
  color: var(--Verde);
  font-size: 20px;
  border: solid var(--Verde) 1px;
  border-radius: 50%;
  padding: 10px;
}

main section article div {
  border-top: solid 1px var(--GrisClaro);
  padding: 15px;
}

main section article.product {
margin-top: 20px;
}

main section article.productofert {
  margin-top: 20px;
}

main section p.descuento {
  color: var(--Verde);
}

main section h4 {
  display: none;
}

@media (min-width: 361px){
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

main section h4 {
  display: block;
}

}